terms/term-6/lab-5/code/task-1/lessons_XML.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="lessons">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="lesson">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CourseName" type="xs:string"/>
              <xs:element name="ProfessorSurname" type="xs:string"/>
              <xs:element name="Semester" type="xs:positiveInteger"/>
              <xs:element name="AcademicHours" type="xs:positiveInteger"/>
              <xs:element name="ControlType" type="xs:string"/>
              <xs:element name="Format" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" use="required" type="xs:ID"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
