terms/term-6/lab-4/code/task-1/lessons_DTD.dtd

<!ELEMENT lessons (lesson+)>
<!ELEMENT lesson (
  CourseName, 
  ProfessorSurname,
  Semester,
  AcademicHours,
  ControlType,
  Format
)>
<!ATTLIST lesson id ID #REQUIRED>
<!ELEMENT CourseName (#PCDATA)>
<!ELEMENT ProfessorSurname (#PCDATA)>
<!ELEMENT Semester (#PCDATA)>
<!ELEMENT AcademicHours (#PCDATA)>
<!ELEMENT ControlType (#PCDATA)>
<!ELEMENT Format (#PCDATA)>
