terms/term-6/lab-5/code/task-2/resume_XML.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MoneyType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="currency" use="required" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="PhoneType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{3}\-\d{2}\-\d{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BirthDateType">
    <xs:restriction base="xs:date">
      <xs:minInclusive value="1947-01-01"/>
      <xs:maxInclusive value="1992-01-01"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AgeType">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:minInclusive value="20"/>
      <xs:maxInclusive value="65"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FamilyStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="женат"/>
      <xs:enumeration value="не женат"/>
      <xs:enumeration value="замужем"/>
      <xs:enumeration value="не замужем"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EducationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="высшее"/>
      <xs:enumeration value="среднее"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="resume">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="candidate">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string"/>
              <xs:element name="LastName" type="xs:string"/>
              <xs:element name="PatronymicName" type="xs:string"/>
              <xs:element name="Age" type="AgeType"/>
              <xs:element name="WorkPlace" type="xs:string"/>
              <xs:element name="Post" type="xs:string"/>
              <xs:element name="DateOfBirth" type="BirthDateType"/>
              <xs:element name="Education" type="EducationType"/>
              <xs:element name="Address" type="xs:string"/>
              <xs:element name="Phone" type="PhoneType"/>
              <xs:element name="FamilyStatus" type="FamilyStatusType"/>
              <xs:element name="DesiredSalary" type="MoneyType"/>
            </xs:sequence>
            <xs:attribute name="id" use="required" type="xs:ID"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
